
.menu {
  width: 100%;
}

.flex-row {
  justify-content: space-between;
}

.menuItems {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin: 15px;
}

.menuItems li {
  margin-right: 5px;
}

.menuItems img {
  margin-right: 5px;
}

.settings {
  width: 30px;
}

.menu button {
  font-size: 25px;
  margin-right: 20px;
  background-color: #006AFF;
}

.menu button:hover,
.menu button.active {
  color: #006AFF;
  background-color: white;
}

.menu button span .MuiSvgIcon-root {
  font-size: 30px;
}
