.modalCancelButton {
    padding-left: 40px;
    font-size: 20px;
}

.modalTotal {
    font-size: 90px;
    text-align: center;
    line-height: 0px;
}

.modalText {
    font-size: 25px;
    text-align: center;
    line-height: 0px;
}

.modalCash {
    padding-left: 40px;
    font-size: 20px;
    text-align: left;
}

.modalLine {
    padding-left: 30px;
    padding-right: 30px;
}

.modalCreditCard {
    padding-left: 40px;
    font-size: 20px;
    text-align: left;
}

