.modalCancelButton {
    padding-left: 40px;
    font-size: 20px;
}

.modalTotal {
    font-size: 90px;
    text-align: center;
    line-height: 0px;
}

.modalText {
    font-size: 25px;
    text-align: center;
    line-height: 0px;
}

.modalCash {
    padding-left: 40px;
    font-size: 20px;
    text-align: left;
}

.modalLine {
    padding-left: 30px;
    padding-right: 30px;
}

.total-btn h2,
.modalCash button,
.modalCreditCard button {
    color: white;
}

.modalCreditCard {
    padding-left: 40px;
    font-size: 20px;
    text-align: left;
}

button h2 {
    margin-left: 20px;
}

.checkout-modal {
    padding: 30px;
}
